<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
</head>
<body>
<div class="login-box">
    <h2 id="D"></h2>
    <form id="first">
        <div class="user-box">
            <input type="text" name="" required="" id="Username">
            <label for="Username">用户名</label>
        </div>
        <a href="#" id="Submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            验证
        </a>
        <a href="login.html" style="margin-left: 10px;">返回</a>
    </form>
    <form id="second" hidden="hidden">
        <div class="user-box">
            <input type="text" name="" required="" id="question">
            <label for="question" id="answer"></label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="" id="password">
            <label for="Username">新密码</label>
        </div>
        <a href="#" id="confirm">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            确定
        </a>
        <a href="restPassword.html" style="margin-left: 10px;">返回</a>
    </form>

</div>
<script src="../static/js/jquery-3.4.1.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $("#Submit").on("click", function () {
            const username = $("#Username").val();
            if (username === null) {
                alert("不能留空");
                return false;
            }
            $.ajax({
                url: "http://localhost:7001/provider-serv/consumer/selectByUsername",
                type: "POST",
                data: {"username": username},
                dataType: "json",
                success: function (data) {
                    if (data.code === 200) {
                        $("#first").hide();
                        $("#second").show();
                        $("#answer").text(data.data.question);
                    } else {
                        alert("用户不存在");
                        return false;
                    }
                }
            });
        });
        $("#confirm").on("click", function () {
            const answer = $("#question").val();
            const password = $("#password").val();
            if (answer === null || password === null) {
                alert("不能留空");
                return false;
            }
            $.ajax({
                url: "http://localhost:7001/provider-serv/consumer/resetPassword",
                type: "POST",
                data: {"answer": answer, "password": password},
                dataType: "json",
                success: function (data) {
                    if (data.code === 200) {
                        alert("密码重置成功");
                        window.location.href = "./login.html";
                    } else {
                        alert(data.msg);
                        window.location.href = "./restPassword.html";
                    }
                }
            });
        });
    });
</script>
</body>
</html>
